<% if flash[:notice] %>
  <div>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<p><%= link_to 'Voltar', promotions_path %></p>

<h1><%= @promotion.name %></h1>

<dl>
  <dt><%= Promotion.human_attribute_name(:description) %></dt>
    <dd><%= @promotion.description %></dd>
  <dt>Porcentagem de desconto</dt>
    <dd><%= number_to_percentage @promotion.discount_rate, precision: 2, separator: ',' %></dd>
  <dt>Código da Promoção</dt>
    <dd><%= @promotion.code %></dd>
  <dt>Data de Expiração</dt>
    <dd><%= I18n.localize(@promotion.expiration_date) %></dd>
  <dt>Quantidade de Cupons</dt>
    <dd><%= @promotion.coupon_quantity %></dd>
  <dt>Cadastrada por</dt>
    <dd><%= @promotion.user.email %></dd>
</dl>

<p> 
  <%= link_to 'Editar Promoção', edit_promotion_path(@promotion) %> |
  <%= link_to 'Deletar Promoção', promotion_path, method: :delete %> 
</p>

<p>
  <% unless @promotion.coupons.any? %>
    <%= link_to 'Gerar cupons', generate_coupons_promotion_path(@promotion), method: :post %>
  <% end %>
</p> 

<% @promotion.coupons.each do |coupon| %>
  <div id="coupon-<%= coupon.id %>"> 
    <span> Cupom <%= coupon.code %> - <%= t(".#{coupon.status}") %></span>
    <% if coupon.enabled? %>
      <%= link_to 'Desativar Cupom', disable_coupon_path(coupon), method: :post %>
    <% end %>
  </div>
<% end %>


